@media (min-width:768px) and (max-width: 991px) {
    body {
        font-size: 1em;
    }

    .boxContainerWorks {
        width: 96%;
        height: auto;
    }

    .boxContainerAbout {
        width: 100%;
        height: auto;
    }

    /* home page*/
    /*=========================================================================================================================================================*/
    #myNav li {
        padding: 2%;
    }

    .photoContainer {
        width: 40%;
        padding-top: 4%;
    }

    .greeting {
        font-size: 4em;
        margin-top: -15%;
    }

    .name {
        font-size: 3em;
    }

    .welcomeGreet {
        font-size: 1.2em;
        padding-bottom: 8%;
        margin-top: -2%;
    }

    /*========================================================================================================================================================*/
    /*works page*/
    /*========================================================================================================================================================*/
    .worksTitle {
        font-size: 3em;
        margin: 7% 0 7% 0;
    }

    .imageBg {
        letter-spacing: 0px;
    }
    .workInfo {
        margin-bottom: 35%;
    }
    .gameLinkContainer {
        width: 80%;
        padding: 0 0 10% 0;
        right: 10%;
    }


    /*========================================================================================================================================================*/
    /*about page*/
    /*========================================================================================================================================================*/
    .aboutTitle {
        font-size: 3em;
        margin: 7% 0 7% 0;
    }

    .aboutGreet {
        font-size: 2.5em;
    }

    .aboutMyName {
        font-size: 1.9em;
    }

    .skillsList {
        width: 90%;
    }

    .resumeContainer {
        margin: 10% 0 7% 5%;
    }

    .resumeTextContainer {
        text-align: center;
        width: 100%;
    }

    .btnResumeContainer {
        width: 100%;
        margin: 10% 0 5% 0;
    }

    .btnResume {
        padding: 5% 25% 5% 25%;
    }

    .footer {
        padding: 8% 0 8% 0;
    }


    /* Medium devices (tablets, 768px and up)*/
    /*nexus 10 ipad mini ipad*/
}